name: docker CI
on: push
jobs:
  build_and_run_docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: build and run docker
        run: |
          docker build -t fibonacci .
